*{
    margin: 0;
    padding:0;
}
.homeContainer {
    /* background-color: rgba(144,157,157,0.55) */
    
    height: 150vh;
}
.containerBox{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.containerBox Forcast {
    width: 70%;
}
.goalMusic {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.searchBar {
    background-color: black;
    color: whitesmoke;
    border-radius: 22px;
    border: solid #6e4036 2px;
}
