.containerBox{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.containerBox Forcast {
    width: 70%;
}
.goalMusic {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
