.musicContianer {
    /* background-color: black; */
    background-color: #fcf3e9;
    height: 200px;
    margin: 70px 0 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.spotifySignIn{
    background-color: #726b64;
    color: transparent;
    text-shadow: 0px 2px 3px #dacabc;
    background-clip: text;
    font-size: 30px;
}
.spotifySignIn:hover {
    /* cursor: grab; */
    cursor: pointer;
}
.artistContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
   
}
.musicCard {
    width: 250px;
    height: 429px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0,0,0,.5);
    color: whitesmoke;
    box-shadow: 2px 2px 8px grey;
    border-radius: 22px;
    margin-bottom: 5%;
}
.artistImg {
    width: 200px;
    height: 200px;
    z-index: 10000;
}