.toDoContainer {
    /* background-color: #73969c; */
  background-color: rgb(150, 114, 64);
    width: 352px;
    height: 500px;  
    border-radius: 40px;
    /* box-shadow: 2px 2px 8px grey; */
}
.toDoHeader {
    text-align: center;
    margin-top: 14%;
}
.toDoMainContainer {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.toDoSeachContainer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 0 0 7% 0;
}
.toDoInput {
    width:70%;
    height: 30px;
    /* border-radius: 22px; */
    /* border: solid brown 2px; */
    /* border-color: whitesmoke; */
    /* color: whitesmoke; */
    font-size: 14px;
    /* background: #4c4c4c; */
}
.addToDoBttn {
    border-radius: 70px;
    width: 34px;
    border: solid brown 2px;
    cursor: pointer;
}
.newItemContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 30px;
    width: 95%;
    height: 39px;
    margin-bottom: 2%;
    /* overflow-y: auto; */
    border: solid;
    border-color: white;
    border-width: 1.5px;
}
.toDoButtons {
    background-color: transparent;
    border-color: transparent;
}
.completedTask{
    text-decoration: line-through;
}
.icon {
    width: 19px;
}

